# logs
*.log

# results
index*.*
mock*.*
heap*.*
*.json
*.pdf

# compressed files
*.zip
*.rar

# data directory
news
mock

# samples directory
samples

# IDE directories
.idea
.vscode

# virtual environment
.env
venv
env

# misc.
__pycache__/
all.txt